* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo p {
  color: #42495b;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize; }

nav li {
  list-style: none; }

nav a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-decoration: none; }
  nav a:hover {
    text-decoration: underline #ffffff; }

header nav a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

h1 {
  color: #42495b;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.05; }
  h1 span {
    font-size: 74px;
    font-weight: 700; }

.section-hero p, .section-biography p, .section-pricing p {
  color: #7a839e;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300; }

.section-services p {
  color: #42495b;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400; }

.section-hero p {
  text-transform: uppercase; }

.cta-font-normal {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none; }

.cta-font-small {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none; }

h2 {
  text-transform: capitalize;
  color: #42495b;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600; }

.section-newsletter h2 {
  font-size: 31px;
  font-weight: 400;
  text-transform: lowercase; }
  .section-newsletter h2::first-letter {
    text-transform: uppercase; }
  .section-newsletter h2 span {
    text-transform: capitalize;
    font-weight: 600; }

h3 {
  color: #7e76f9;
  font-family: "Lobster", cursive;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize; }

.section-services h3 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  text-transform: uppercase; }

h4 {
  font-family: "Poppins", sans-serif;
  color: #42495b; }

.section-services h4 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase; }

.section-pricing h4 {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 28px;
  text-transform: capitalize; }

.price {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 30px !important;
  color: #1000ff !important; }

input {
  color: #42495b;
  font-size: 12px;
  font-family: "Poppins", sans-serif; }
  input::placeholder {
    color: rgba(153, 153, 153, 0.6);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 12px; }

footer * {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }

footer nav a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize; }

footer h2 {
  font-family: "Dosis", sans-serif;
  text-transform: lowercase;
  font-size: 50px;
  font-weight: 800; }

footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 31px;
  text-transform: lowercase; }
  footer h3::first-letter {
    text-transform: uppercase; }

footer h4 {
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize; }

.cta {
  border-radius: 500px;
  display: inline-block;
  text-align: center; }
  .cta-purple {
    color: #ffffff;
    background: linear-gradient(to left, #6156f9 0%, #1a129f 45%);
    border: transparent; }
  .cta-white {
    border: solid 1px #1000ff;
    color: #42495b; }
  .cta-big {
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
    min-width: 171px; }
  .cta-small {
    padding: 0 20px;
    height: 30px;
    line-height: 30px; }

.section-hero .cta, .section-biography .cta, .section-services .cta {
  text-transform: uppercase; }

.section-pricing .cta, .section-newsletter .cta {
  text-transform: capitalize; }

table tr:not(:last-child) td {
  padding-bottom: 10px; }

table td:first-child {
  padding-right: 5px; }

.content-container {
  width: 80%;
  margin: 0 auto; }

header {
  height: 125px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1; }
  header .content-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  header .logo {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    header .logo p {
      margin: 0 0 5px 10px; }
  header nav {
    flex: 0 1 400px; }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: center; }
    header nav a {
      padding: 3px 6px; }

.section-hero {
  height: 100vh;
  z-index: 0;
  background: url("../assets/img/phone.png") no-repeat center right 60px/auto 70vh, url("../assets/img/wave.svg") no-repeat top -2px right -2px/55% auto; }
  .section-hero .content-container {
    width: 70%;
    height: 100%;
    padding-top: 200px;
    position: relative; }
  .section-hero p {
    margin-top: 10px; }
  .section-hero .cta {
    margin-top: 15px; }
  .section-hero .socials {
    height: 210px;
    width: min-content;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: -100px;
    top: 340px; }
    .section-hero .socials::after {
      content: '';
      width: 3px;
      height: 30px;
      background: linear-gradient(to left, #6156f9 0%, #1a129f 45%); }
    .section-hero .socials img {
      width: 10px;
      height: auto; }
  .section-hero .mouse {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 500px;
    box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);
    margin-bottom: 15px; }
    .section-hero .mouse a {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 500px;
      display: flex;
      justify-content: center;
      align-content: center; }

main {
  position: absolute;
  top: 0; }

.section-biography {
  height: 660px;
  background: url("../assets/img/we-are.png") no-repeat center left 60px/auto 70vh, url("../assets/img/background-we-are.png") no-repeat center right/55% auto;
  display: flex;
  align-items: center; }
  .section-biography .content-container {
    height: min-content;
    padding-left: 40%; }
  .section-biography p:last-of-type {
    margin-top: 15px; }
  .section-biography .cta {
    margin-top: 25px; }

.card-container {
  width: 100%;
  display: flex;
  flex-direction: row; }

.card {
  flex: 0 1 370px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
  background-color: white; }

.section-services {
  background: url(../assets/img/background-service.png) no-repeat center/100% auto;
  padding-bottom: 100px; }
  .section-services h3, .section-services h2 {
    margin-left: 35px; }
  .section-services .card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between; }
  .section-services .card-services {
    height: 410px;
    border-radius: 36px;
    padding: 30px;
    margin-top: 90px; }
    .section-services .card-services img {
      height: 90px;
      width: auto;
      align-self: center; }
    .section-services .card-services .cta {
      align-self: flex-end; }

.section-pricing {
  background-color: rgba(127, 118, 249, 0.15);
  padding: 90px 0; }
  .section-pricing .content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; }
  .section-pricing .card-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px; }
  .section-pricing .card-pricing {
    height: 460px;
    border-radius: 26px;
    padding: 57px 40px 53px;
    align-items: center; }
    .section-pricing .card-pricing:nth-child(2) {
      margin: 0 10px; }
    .section-pricing .card-pricing h4 {
      white-space: nowrap; }
    .section-pricing .card-pricing p, .section-pricing .card-pricing h4 {
      text-align: center; }