.section-biography {
    background: url('../assets/img/we-are.png') no-repeat center left calc(10% - 25px) / auto 90%, url('../assets/img/background-we-are.png') no-repeat center right / 55% auto;
    display: flex;
    align-items: center;

    @include media('large') {
        background: url('../assets/img/we-are.png') no-repeat center left calc(10% - 25px) / 45% auto, url('../assets/img/background-we-are.png') no-repeat center right / 55% auto;
    }

    .content-container {
        padding: 125px 0 110px 40%;
    }

    p:last-of-type {
        margin-top: 15px;
    }

    .cta {
        margin-top: 25px;
    }
}