.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-shadow: $shadow-card;
    background-color: $color-background-white;
}