header {
    height: $header-height;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    .content-container {
        width: $container-width-smaller;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include media('large') {
            width: $container-width;
        }
    }

    .logo {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        p {
            margin: 0 0 5px 10px;
        }

        @include media('medium') {
            img {
                height: 60px;
                width: auto;
            }
        }
    }

    nav {
        flex: 0 1 400px;
        @include media('medium') {
            flex: 0 1 200px;
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: center;

            @include media('medium') {
                flex-wrap: wrap;
            }
        }

        a{
            padding: $padding-header-nav-buttons;
        }
    }
}