.section-hero {
    height: 100vh;
    z-index: 0;
    background: url('../assets/img/phone.png') no-repeat center right 15% / 40% auto, url('../assets/img/wave.svg') no-repeat top -2px right -2px / 50% auto;

    @include media('large') {
        background: url('../assets/img/phone.png') no-repeat center right 10% / 30% auto, url('../assets/img/wave.svg') no-repeat top -2px right -2px / 60% auto;
    }
    @include media('medium') {
        background: url('../assets/img/wave.svg') no-repeat top -2px right -2px / 60% auto;
        height: 375px;
    }

    .content-container {
        width: $container-width-smaller;
        height: 100%;
        padding-top: $header-height + 75px;
        position: relative;

        @include media('large') {
            width: $container-width;
        }
        @include media('large') {
            padding-top: $header-height;
        }
    }

    p {
        margin-top: 10px;
    }

    .cta {
        margin-top: 15px;
    }

    .socials {
        height: 210px;
        width: min-content;
        flex-direction: column;
        position: absolute;
            left: -11%;
            top: 340px;

        @include media('large') {
            left: -7%;
        }
        @include media('medium') {
            top: 200px;
        }

        &::after {
            content: '';
            width: 3px;
            height: 30px;
            background: $gradient-cta-purple;
        }

        img {
            width: 10px;
            height: auto;
        }
    }

    .mouse {
        width: $mouse-dimension;
        height: $mouse-dimension;
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 500px;
        box-shadow: $shadow-mouse;
        margin-bottom: 15px;

        @include media('medium') {
            display: none;
        }
        
        a {
            display: block;
            height: 100%;
            width: 100%;
            border-radius: 500px;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}