.section-services {
    background: url(../assets/img/background-service.png) no-repeat center / 100% auto;
    
    .content-container {
        padding: 0 0 100px;
    }
    
    h3, h2 {
        margin-left: 35px;
    }

    h2 {
        margin-bottom: 90px;
    }
    
    .card-container {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }
    
    .card-services {
        width: calc((100% / 3) - 20px);
        max-width: 360px;
        height: 410px;
        border-radius: 36px;
        padding: $padding-cards-services;
        
        @include media('large') {
            width: calc((100% / 2) - 10px);
            max-width: 400px;
        }
        @include media('medium') {
            width: 100%;
            max-width: 400px;
        }

        &:not(:last-child) {
            margin-bottom: 90px;
            
            @include media('large') {
                margin-bottom: 30px;
            }
            @include media('medium') {
                margin-bottom: 10px;
            }
        }
        
        img {
            height: $card-image-dimension;
            width: auto;
            align-self: center;
        }
        
        .cta {
            align-self: flex-end;
        }
    }
}