.section-services {
    background: url(../assets/img/background-service.png) no-repeat center / 100% auto;
    padding-bottom: 100px;
    // position: relative;
    // z-index: 0;

    h3, h2 {
        margin-left: 35px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
    }
    
    .card-services {
        height: 410px;
        border-radius: 36px;
        padding: $padding-cards-services;
        margin-top: 90px;

        img {
            height: $card-image-dimension;
            width: auto;
            align-self: center;
        }

        .cta {
            align-self: flex-end;
        }
    }
}